input:focus {
  outline: none;
  border: 0px;
}

.custom-border-style {
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media only screen and(max-width:768px) {
  .custom-flex {
    flex: 0 0 100%;
  }
}
