.card {
  margin-bottom: 1rem;
  min-height: 50px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.custom-color {
  color: #009688;
  border-color: #009688;
  h4 {
    color: black;
  }
}

.truncate-custom {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.custom-height {
  // min-height: 225px;
}
