input:focus {
  outline: none;
  border: 0px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.background-loader {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}

.custom-top {
  top: 18rem;
}
.custom-border-style {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.custom-disable{
  cursor: not-allowed;
  background: rgba(255, 120, 120, 0.5);
  pointer-events: none;

}


@media only screen and(max-width:768px) {
  .custom-margin {
    margin-top: 7px;
  }
  .custom-margin-left{
    margin-left: 5px;
  }
}